html, body{
    height: 100%;

}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center botto,;
    margin: 0;
    padding: 0;
}

div#content {
    border-style: double;
    border-color: lightgreen;

    width: 50%;

    padding: 1%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0,255,0,.2);
    color: lightgreen;
    link: color gold;
}